/* nav color background */

.bg-body-tertiary {
    background-color: rgb(31, 33, 43) !important;
    
}



header .nav-link{
    color: gray;
}

header .nav-link:hover{
    color:white;
}

header form .btn{
    background-color: rgb(31, 33, 43);
    color: white;
    border: white 1px solid;
}
header form .btn:hover{
    background-color: grey;
    color: white;
    
}

.row{
    /* background-color: red; */
    align-items: center;
}


.col{
    /* border: 1px dotted black; */
}


.container-1 container{
    /* height: 200px; */
    /* background-color: red; */
    /* border: 1px dotted black; */
    margin: 0;
    padding: 0;

}

.list-group{
    margin-top: 20px;
    margin-bottom: 20px;
}


.container-2 {
    /* height: 200px; */
    /* background-color: red; */
    /* border: 1px dotted black; */
    margin-top: 20px;
    

}


.container-1 {
    margin-top: 20px;
    

}

main .container-2 .row{
    background-color:whitesmoke;
}

main .container-1 .row{
    background-color:whitesmoke;
}

tbody tr:hover td{
    background-color:rgba(226,227,229,255);
}











@media screen and (min-width:992px) {
    .container-lg{
        display: flex;
        margin-left: 20px;
    }

   
    .container-3{
        display: flex;
    }
}
